.titleBar {
    border-bottom: 1px solid #7e7e7e;
    flex-grow: 0;
    width: 100%;
    padding: 8px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.leftSide,
.rightSide {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.iconBtn {
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 1px solid #7e7e7e;
}